.container {
   width:700px;
   margin:50px auto;
}

.cell {
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  margin: 1px;
  border: 1px solid #ccc;
}

.cell-live {
  background: #000;
}

.cell-dead {
  background: #fff;
}
